@model Preventivatore.Core.Entities.MacroCategoriaPolizza

@{
    ViewData["Title"] = "Conferma Eliminazione";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p>Sei sicuro di voler eliminare la macrocategoria <strong>@Model.Nome</strong>?</p>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" />

    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash"></i> Elimina
    </button>
    <a asp-action="Index" class="btn btn-secondary ms-2">
        Annulla
    </a>
</form>
