@model IEnumerable<Preventivatore.Core.Entities.MacroCategoriaPolizza>
@{
    ViewData["Title"] = "Scegli una Macrocategoria";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    @foreach (var m in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@m.Nome</h5>
                    <a asp-action="Sottocategorie" asp-route-macroId="@m.Id" class="btn btn-outline-primary">
                        Seleziona
                    </a>
                </div>
            </div>
        </div>
    }
</div>
